{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="page-title">Video</h2>

            <form method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <input class="form-control" type="file" name="video" required>
                    <div class="form-text">supported files: .MP4, .AVI, .MOV</div>
                </div>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}